body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    background-color: #f4f4f4;
    margin: 20px 0;
    padding: 10px;
  }
  
  .post-content h2 {
    margin-top: 0;
  }
  
  .edit,
  .delete {
    display: inline-block;
  }
  
  .edit a,
  .delete a {
    color: white;
    padding: 5px 10px;
  }
  
  .edit a {
    background-color: #4CAF50;
  }
  
  .delete a {
    background-color: #f44336;
  }
 .create-post {
  position: absolute;
  top: 20px;
  right: 20px;
}
.create-post a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  }
  
  .create-post a:hover {
    background-color: #3e8e41;
  }
  
  

    